<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperSoft.Properties.Settings.DatabaseSuperM1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DatabaseSuperM1.mdb"
            providerName="System.Data.OleDb" />
        <add name="SuperSoft.Properties.Settings.DatabaseSuperM1ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\My Program C#\DatabaseSuperM1.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="SuperSoft.Properties.Settings.DatabaseSuperMConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Data\DatabaseSuperM.mdb"
            providerName="System.Data.OleDb" />
        <add name="SuperSoft.Properties.Settings.DatabaseSuperMConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\DatabaseSuperM.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>